.orderDetails {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
      0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
  }

  &__icon {
    width: 120px;
    height: 120px;
    min-height: 120px;
    background: url(../../images/order_done.svg) center no-repeat;
  }
}

.checkMark {
  transform-origin: center;
  transform: scale(0.1);
  animation: appearance 1s forwards ease-in-out;
}

@keyframes appearance {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
