.orders {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 8px;
  max-width: 608px;
  width: 100%;
  max-height: calc(100vh - 186px);
}

.orders::-webkit-scrollbar {
  width: 8px;
  background: #2f2f37;
}

.orders::-webkit-scrollbar-thumb {
  background: #8585ad;
}

.orders::-webkit-scrollbar-thumb:hover {
  background: #8282da;
}
