.main {
  display: grid;
  width: 100%;
  grid-template-rows: min-content auto;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 76px;
  height: 100%;
  max-width: 1248px;
  opacity: 0;
  animation: appearance 0.4s forwards;
}

.title {
  grid-row: 1;
  grid-column: 1/3;
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
