.plug {
  box-sizing: border-box;
  padding: 16px 24px;
  display: flex;
  border-radius: var(--common-border-radius-s);
  max-width: 536px;
  min-height: 80px;
  font-family: 'Jet Brains Mono';
  font-size: 16px;
  line-height: 24px;
  color: #f2f2f3;
  border: 2px dashed #fff;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background: var(--background-element);
}

.plug_pos_top {
  border-radius: var(--top-constructor-item-border-radius);
}

.plug_pos_bottom {
  border-radius: var(--bottom-constructor-item-border-radius);
}
