.orderCard {
  width: 100%;
  border-radius: 40px;
  box-sizing: border-box;
  background-color: #1c1c21;
}

.link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.priceInfo {
  margin-top: 24px;
  display: flex;
  align-items: center;
}

.ingredientsList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.priceWrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.price {
  margin-right: 9px;
}
