@import '../../scss/mixins';

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  opacity: 0;
  animation: appearance 0.4s forwards;
}

@include appearance;
