.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  opacity: 0;
  animation: appearance 0.4s forwards;
}

.errorMain {
  box-sizing: border-box;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  opacity: 0;
  animation: appearance 0.4s forwards;
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
