.wrapper {
  max-width: 320px;
}

.tabs {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  display: block;
  color: #8585ad;
  text-decoration: none;
}

.link_active {
  color: white;
}

.button {
  border: none;
  margin: 0;
  background: transparent;
}

.button:hover {
  color: white;
  cursor: pointer;
}

.hint {
  opacity: 40%;
}
