.wrapper {
  max-width: 320px;
  opacity: 0;
  animation: appearance 0.45s forwards cubic-bezier(0.3, 0.22, 0.42, 0.86);
}

.tabs {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  display: block;
  color: #8585ad;
  text-decoration: none;
  transition: all 0.2s ease;
}

.link_active {
  color: white;
}

.link:hover {
  color: white;
}

.button {
  border: none;
  margin: 0;
  background: transparent;
  transition: all 0.2s ease;
}

.button:hover {
  color: white;
  cursor: pointer;
}

.hint {
  opacity: 40%;
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
