.section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
  opacity: 0;
  transform: scale(0.8);
  animation: appearance 0.3s forwards;
}

.section p:nth-child(1) {
  align-self: center;
}

@keyframes appearance {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
