@import-normalize;

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1px;
  min-height: 100vh;
  min-width: 1280px;
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 8px;
  background: #2f2f37;
}

*::-webkit-scrollbar-thumb {
  background: #8585ad;
}

*::-webkit-scrollbar-thumb:hover {
  background: #8282da;
}
