.constructor {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.tab {
  display: flex;
}

.ingredients {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: calc(100vh - 242px);
}

.ingredients::-webkit-scrollbar {
  width: 8px;
  background: #2f2f37;
}

.ingredients::-webkit-scrollbar-thumb {
  background: #8585ad;
}

.ingredients::-webkit-scrollbar-thumb:hover {
  background: #8282da;
}
