.ingredient {
  position: relative;
  max-width: 272px;
  height: 208px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: grab;
  transition: all 0.2s;
  text-decoration: none;
  color: inherit;
}

.ingredient:hover {
  transform: scale(1.04);
}

.priceContainer {
  display: flex;
}

.dragging {
  background: radial-gradient(
    circle,
    rgba(87, 0, 255, 0.5480567226890756) 0%,
    rgba(19, 19, 22, 1) 65%
  );
}
