@import '../../scss/mixins';

.main {
  box-sizing: border-box;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  opacity: 0;
  animation: appearance 0.4s forwards;
}

@include appearance;
