.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c21;
  max-width: 1920px;
  width: 100%;
  z-index: 10;
}

.navigation {
  min-width: 1280px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.list {
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 0;
  justify-self: flex-start;
}

.logoWrapper {
  justify-self: center;
  transition: all 0.2s ease;
}

.logoWrapper:hover {
  opacity: 0.6;
}

.profileLinkWrapper {
  justify-self: flex-end;
  max-width: 210px;
}

.loggedIn a {
  color: #75ebbe;
}

.loggedIn svg {
  fill: #75ebbe;
}
